@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(2rem);
    }
}

@keyframes top {
    0% {
        opacity: 0.25;
        transform: translateY(-5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounceBand {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-bounce {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 0.75);
    }
    80% {
        transform: scale(1.1, 0.75);
    }
    100% {
        transform: scale(1.25, 1.5);
    }
}

@keyframes bg-movement {
    0% {
        transform: translate3d(0, 0, 0);
        filter: hue-rotate(0deg);
    }

    25% {
        transform: translate3d(6%, -2%, 0);
        filter: hue-rotate(10deg);
    }

    50% {
        transform: translate3d(-3%, 0, 0);
        filter: hue-rotate(5deg);
    }

    75% {
        transform: translate3d(-6%, 2%, 0);
        filter: hue-rotate(25deg);
    }

    to {
        transform: translate3d(0, 0, 0);
        filter: hue-rotate(0deg);
    }
}
