:root {
    --teal-accent: #22aad3;
    --teal-light: #48bee2;
    --black: #070808;
    --white-accent: #b5c5d4;
    --white-alpha: #b5c5d4;
    --white-alpha-opaque: #60829b26;
    --red-accent: #ff1661;
    --teal-ocean: #64ffda;
}

:root {
    --font-expletus: 'Expletus Sans', sans-serif, cursive;
    --font-sans: 'IBM Plex Sans Condensed', sans-serif;
    --font-extra: 'Rajdhani', sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;
}
