.a-title {
    font: normal 500 6vw/1.2 var(--font-extra);
    color: var(--teal-accent);
    letter-spacing: 0.25em;
    position: relative;
    text-align: center;
    padding-top: 0.25em;

    &__object {
        color: var(--white-alpha);
        opacity: 0.2;
        padding: 0 0.2em;
        margin-top: -0.2ex;
    }

    @include media-from(large) {
        font-size: 2.35vw;
        padding-top: 0;
    }
}
